# Data Retrieval

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

#### Original data set 'Checkouts by title':

In [3]:
spl = pd.read_csv('Data/Checkouts_by_Title.csv', thousands=',')
# thousands arg used because column Checkouts has a mix of numbers, strings, 
#and the thousand separator is denoted as ','

spl.head()

,UsageClass,CheckoutType,MaterialType,CheckoutYear,CheckoutMonth,Checkouts,Title,Creator,Subjects,Publisher,PublicationYear
0,Physical,Horizon,BOOK,2016,6,1,Capitalism unbound : the incontestable moral c...,"Bernstein, Andrew",Capitalism,"University Press of America,",c2010.
1,Digital,OverDrive,EBOOK,2016,6,2,A Fountain Filled With Blood: Clare Fergusson ...,Julia Spencer-Fleming,"Fiction, Mystery",Macmillan Publishers,2013
2,Physical,Horizon,SOUNDDISC,2016,6,3,And winter came-- [sound recording] / Enya.,Enya,"Christmas music, New Age music, Popular music ...","Reprise,",p2008.
3,Digital,OverDrive,EBOOK,2016,6,1,Simply Sensual,Carly Phillips,"Contemporary Romance, Fiction, Romance","Harlequin Enterprises, Ltd.",2010
4,Physical,Horizon,BOOK,2016,6,33,Lafayette in the somewhat United States / Sara...,"Vowell, Sarah, 1969-",Lafayette Marie Joseph Paul Yves Roch Gilbert ...,"Riverhead Books,",2015.

## Initial information

In [53]:
spl.shape

(33156891, 11)

In [54]:
# Data set overview

spl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33156891 entries, 0 to 33156890
Data columns (total 11 columns):
UsageClass         object
CheckoutType       object
MaterialType       object
CheckoutYear       int64
CheckoutMonth      int64
Checkouts          int64
Title              object
Creator            object
Subjects           object
Publisher          object
PublicationYear    object
dtypes: int64(3), object(8)
memory usage: 2.7+ GB

----------
# Data Cleaning

### NaN

In [55]:
spl.isna().sum()

UsageClass                0
CheckoutType              0
MaterialType              0
CheckoutYear              0
CheckoutMonth             0
Checkouts                 0
Title                     0
Creator            11922438
Subjects            1721680
Publisher           9495800
PublicationYear     9816305
dtype: int64

The vast ammount of NaN values we see here may be due to the combination of records made in 2016, for now I'll make them their own category and evaluate each column later on.

*"There are a few different reasons why you will sometimes find a blank subject headings field. Historic physical checkouts were combined with current Horizon bibliographic record details in December 2016. If there was not a Horizon bibliographic record for a title as of December 2016, a subject heading was not recorded.
Also, some digital items have no Horizon bibliographic record. For example, music from Freegal is not cataloged within Horizon. Thus there will be no subject headings available for those checkouts."*

In [56]:
# Creator column

spl.Creator.replace(np.nan, 'Unknown', inplace=True)

In [57]:
# Subjects column

spl.Subjects.replace(np.nan, 'Unknown', inplace=True)

In [58]:
# Publisher column

spl.Publisher.replace(np.nan, 'Unknown', inplace=True)

In [59]:
# PublicationYear column 

spl.PublicationYear.replace(np.nan, 'Unknown', inplace=True)

In [60]:
# Confirm 

spl.isna().sum()

UsageClass         0
CheckoutType       0
MaterialType       0
CheckoutYear       0
CheckoutMonth      0
Checkouts          0
Title              0
Creator            0
Subjects           0
Publisher          0
PublicationYear    0
dtype: int64

### Familiarize with each column

##### UsageClass

In [6]:
# UsageClass 	Denotes if item is “physical” or “digital”

spl['UsageClass'].unique()

array(['Physical', 'Digital'], dtype=object)

##### CheckoutType

In [7]:
# CheckoutType 	Denotes the vendor tool used to check out the item

spl['CheckoutType'].unique()

array(['Horizon', 'OverDrive', 'Freegal', 'Hoopla', 'Zinio'], dtype=object)

* Freegal: stream and download songs
* OverDrive: access e-books and audiobooks
* Horizon: information portal used by the library previously
* Hoopla: stream movies or TV shows
* Zinio: digital magazines

In [63]:
spl['CheckoutType'].value_counts()

Horizon      26662540
OverDrive     5224321
Freegal        969118
Hoopla         291737
Zinio            9175
Name: CheckoutType, dtype: int64

##### MaterialType

In [64]:
# MaterialType 	Describes the type of item checked out (examples: book, song movie, music, magazine)

spl['MaterialType'].value_counts()

BOOK                           18783118
SOUNDDISC                       3871930
EBOOK                           3641919
VIDEODISC                       2886206
AUDIOBOOK                       1516061
SONG                             969118
VIDEOCASS                        499677
MUSIC                            263355
SOUNDCASS                        199701
MIXED                            132221
MOVIE                             92192
TELEVISION                        57730
CR                                49406
VIDEO                             44277
SOUNDDISC, VIDEODISC              29008
COMIC                             21492
SOUNDREC                          21401
VISUAL                            18591
KIT                               11926
ER                                10151
MAGAZINE                           9175
REGPRINT                           7387
ER, VIDEODISC                      6110
ER, SOUNDDISC                      4843
ATLAS                              3471
MAP                                2187
MUSICSNDREC                         926
LARGEPRINT                          543
VIDEOREC                            327
VIDEOCART                           254
                                 ...
SLIDE, SOUNDCASS, VIDEOCASS         102
REGPRINT, SOUNDDISC                  96
SLIDE, VIDEOCASS                     96
ER, PRINT                            94
ER, NONPROJGRAPH                     93
ER, VIDEOREC                         68
UNSPECIFIED                          66
SLIDE, SOUNDCASS                     66
NOTATEDMUSIC                         58
SOUNDCASS, VIDEOCASS                 51
VIDEOCASS, VIDEODISC                 49
REGPRINT, VIDEOREC                   48
SOUNDCASS, SOUNDDISC                 47
SLIDE                                41
PICTURE                              31
PRINT                                27
ER, REGPRINT                         27
PICTURE, VIDEODISC                   19
COMPFILE                             17
ER, SOUNDDISC, VIDEODISC             15
ER, MAP                              12
ER, PICTURE                           6
CHART                                 5
FLASHCARD                             5
ATLAS, ER                             3
NONPROJGRAPH                          2
SECTION                               2
REMOTESEN                             2
ER, VIDEOCASS                         1
MAP, VIEW                             1
Name: MaterialType, Length: 66, dtype: int64

In [65]:
spl['MaterialType'].unique()

array(['BOOK', 'EBOOK', 'SOUNDDISC', 'ER', 'VIDEODISC', 'SONG',
       'AUDIOBOOK', 'MOVIE', 'MUSIC', 'SOUNDDISC, VIDEODISC',
       'TELEVISION', 'VIDEO', 'SOUNDREC', 'MIXED', 'MAP', 'ER, SOUNDDISC',
       'REGPRINT', 'SOUNDCASS', 'ATLAS', 'CR', 'VISUAL', 'ER, VIDEODISC',
       'MAGAZINE', 'VIDEOREC', 'LARGEPRINT', 'REGPRINT, SOUNDDISC',
       'VIDEOCASS, VIDEODISC', 'NOTATEDMUSIC', 'VIDEOCASS', 'MUSICSNDREC',
       'ER, VIDEOREC', 'SOUNDDISC, SOUNDREC', 'FLASHCARD, SOUNDDISC',
       'ER, REGPRINT', 'GLOBE', 'ER, PRINT', 'VIDEOCART',
       'SOUNDCASS, SOUNDDISC, VIDEOCASS, VIDEODISC', 'ER, NONPROJGRAPH',
       'REGPRINT, VIDEOREC', 'KIT', 'SLIDE, VIDEOCASS', 'SLIDE',
       'MICROFORM', 'COMIC', 'PICTURE', 'SOUNDCASS, SOUNDDISC',
       'SLIDE, SOUNDCASS, VIDEOCASS', 'FLASHCARD', 'CHART',
       'SOUNDDISC, VIDEOCASS', 'UNSPECIFIED', 'REMOTESEN', 'PRINT',
       'COMPFILE', 'NONPROJGRAPH', 'SLIDE, SOUNDCASS',
       'SOUNDCASS, VIDEOCASS', 'ATLAS, ER', 'ER, MAP',
       'PICTURE, VIDEODISC', 'ER, SOUNDDISC, VIDEODISC', 'ER, VIDEOCASS',
       'ER, PICTURE', 'MAP, VIEW', 'SECTION'], dtype=object)

#### Here I will move the types with double categories to a general classification of similar type. The type ER corresponds to formats that are print + media; so they are grouped into one single category.

In [66]:
# ER is Book/Print + Media
 
spl.loc[spl['MaterialType'] == 'ER, SOUNDDISC', 'MaterialType'] = 'ER'
spl.loc[spl['MaterialType'] == 'ER, VIDEODISC', 'MaterialType'] = 'ER'
spl.loc[spl['MaterialType'] == 'ER, VIDEOREC', 'MaterialType'] = 'ER'
spl.loc[spl['MaterialType'] == 'ER, REGPRINT', 'MaterialType'] = 'ER'
spl.loc[spl['MaterialType'] == 'ER, PRINT', 'MaterialType'] = 'ER'
spl.loc[spl['MaterialType'] == 'ER, NONPROJGRAPH', 'MaterialType'] = 'ER'
spl.loc[spl['MaterialType'] == 'ATLAS, ER', 'MaterialType'] = 'ER'
spl.loc[spl['MaterialType'] == 'ER, MAP', 'MaterialType'] = 'ER'
spl.loc[spl['MaterialType'] == 'ER, SOUNDDISC, VIDEODISC', 'MaterialType'] = 'ER'
spl.loc[spl['MaterialType'] == 'ER, VIDEOCASS', 'MaterialType'] = 'ER'
spl.loc[spl['MaterialType'] == 'ER, PICTURE', 'MaterialType'] = 'ER'

In [67]:
spl.loc[spl['MaterialType'] == 'SOUNDDISC, VIDEODISC', 'MaterialType'] = 'SOUNDCASS, SOUNDDISC, VIDEOCASS, VIDEODISC'
spl.loc[spl['MaterialType'] == 'VIDEOCASS, VIDEODISC', 'MaterialType'] = 'SOUNDCASS, SOUNDDISC, VIDEOCASS, VIDEODISC'
spl.loc[spl['MaterialType'] == 'SOUNDCASS, SOUNDDISC', 'MaterialType'] = 'SOUNDCASS, SOUNDDISC, VIDEOCASS, VIDEODISC'
spl.loc[spl['MaterialType'] == 'SOUNDDISC, VIDEOCASS', 'MaterialType'] = 'SOUNDCASS, SOUNDDISC, VIDEOCASS, VIDEODISC'
spl.loc[spl['MaterialType'] == 'SOUNDCASS, VIDEOCASS', 'MaterialType'] = 'SOUNDCASS, SOUNDDISC, VIDEOCASS, VIDEODISC'

In [68]:
spl.loc[spl['MaterialType'] == 'REGPRINT, SOUNDDISC', 'MaterialType'] = 'REGPRINT'
spl.loc[spl['MaterialType'] == 'REGPRINT, VIDEOREC', 'MaterialType'] = 'REGPRINT'

In [69]:
spl.loc[spl['MaterialType'] == 'SLIDE, VIDEOCASS', 'MaterialType'] = 'SLIDE'
spl.loc[spl['MaterialType'] == 'SLIDE, SOUNDCASS, VIDEOCASS', 'MaterialType'] = 'SLIDE'
spl.loc[spl['MaterialType'] == 'SLIDE, SOUNDCASS', 'MaterialType'] = 'SLIDE'

In [70]:
spl.loc[spl['MaterialType'] == 'FLASHCARD, SOUNDDISC', 'MaterialType'] = 'FLASHCARD'

In [71]:
spl.loc[spl['MaterialType'] == 'SOUNDDISC, SOUNDREC', 'MaterialType'] = 'SOUNDREC'

In [72]:
spl.loc[spl['MaterialType'] == 'PICTURE, VIDEODISC', 'MaterialType'] = 'PICTURE'

In [73]:
spl.loc[spl['MaterialType'] == 'MAP, VIEW', 'MaterialType'] = 'MAP'

In [74]:
# new counts

spl['MaterialType'].value_counts()

BOOK                                          18783118
SOUNDDISC                                      3871930
EBOOK                                          3641919
VIDEODISC                                      2886206
AUDIOBOOK                                      1516061
SONG                                            969118
VIDEOCASS                                       499677
MUSIC                                           263355
SOUNDCASS                                       199701
MIXED                                           132221
MOVIE                                            92192
TELEVISION                                       57730
CR                                               49406
VIDEO                                            44277
SOUNDCASS, SOUNDDISC, VIDEOCASS, VIDEODISC       29515
SOUNDREC                                         21549
COMIC                                            21492
ER                                               21423
VISUAL                                           18591
KIT                                              11926
MAGAZINE                                          9175
REGPRINT                                          7531
ATLAS                                             3471
MAP                                               2188
MUSICSNDREC                                        926
LARGEPRINT                                         543
VIDEOREC                                           327
SLIDE                                              305
VIDEOCART                                          254
MICROFORM                                          186
GLOBE                                              179
FLASHCARD                                          170
UNSPECIFIED                                         66
NOTATEDMUSIC                                        58
PICTURE                                             50
PRINT                                               27
COMPFILE                                            17
CHART                                                5
NONPROJGRAPH                                         2
SECTION                                              2
REMOTESEN                                            2
Name: MaterialType, dtype: int64

#### Still have some low frequency categories: move them to a category named 'OTHER'

In [9]:
spl['MaterialType'].replace(['MUSICSNDREC','LARGEPRINT','VIDEOREC','SLIDE','VIDEOCART','MICROFORM','GLOBE',
                             'FLASHCARD','UNSPECIFIED','NOTATEDMUSIC','PICTURE','PRINT','COMPFILE','CHART',
                             'NONPROJGRAPH','SECTION','REMOTESEN'], 'OTHER', inplace=True)

In [10]:
spl.MaterialType.value_counts()

BOOK                                          18783118
SOUNDDISC                                      3871930
EBOOK                                          3641919
VIDEODISC                                      2886206
AUDIOBOOK                                      1516061
SONG                                            969118
VIDEOCASS                                       499677
MUSIC                                           263355
SOUNDCASS                                       199701
MIXED                                           132221
MOVIE                                            92192
TELEVISION                                       57730
CR                                               49406
VIDEO                                            44277
SOUNDCASS, SOUNDDISC, VIDEOCASS, VIDEODISC       29515
SOUNDREC                                         21549
COMIC                                            21492
ER                                               21423
VISUAL                                           18591
KIT                                              11926
MAGAZINE                                          9175
REGPRINT                                          7531
ATLAS                                             3471
OTHER                                             3119
MAP                                               2188
Name: MaterialType, dtype: int64

##### CheckoutYear

In [11]:
spl['CheckoutYear'].unique()

array([2016, 2017, 2018, 2019, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015])

##### CheckoutMonth

In [12]:
# CheckoutMonth 	The month of checkout for this record

spl['CheckoutMonth'].unique()

array([ 6,  7,  8,  9, 10,  3,  2,  1,  4,  5, 11, 12])

##### Ckeckouts

In [13]:
# check for possible placeholders

spl.Checkouts.unique()

array([   1,    2,    3,   33,    4,    5,   47,    7,    9,    6,   21,
         18,   24,    8,   14,   13,   10,   72,   15,   17,   11,  146,
         35,   12,   29,   49,   37,   90,   23,  115,   16,   20,   28,
         26,   78,   22,   65,   96,   19,   40,   44,   48,  103,   30,
         56,   53,   31,   95,   32,   34,  114,   86,   39,   51,   27,
        135,   41,   36,   38,   80,   45,   42,   25,   62,   58,  117,
        241,   50,   43,   61,  166,  191,  198,   60,   59,  124,   75,
        232,  105,   52,   55,   68,   87,   46,   93,  219,   94,  120,
        340,  140,  123,   71,   63,   69,   91,  130,  131,   66,  206,
        145,   76,  132,  144,  192,   57,   54,  142,   67,  128,  112,
         82,  155,  165,  102,   99,  401,   73,  101,   79,  176,  207,
        237,   81,   64,   83,  224,   84,  111,  157,   89,  177,  138,
         74,  170,  108,  298,  127,  129,  259,   85,   70,  188,   88,
        137,  121,  160,  292,   97,  109,  616,  156,  214,  133,  107,
        116,   98,  391,  110,  284,  134,  189,  257,   77,  104,  164,
        154,  118,  194,  147,  122,  310,  209,  158,  125,  136,  143,
        223,  106,  139,  200,  126,  113,   92,  159,  173,  119,  190,
        274,  287,  152,  199,  289,  619,  222,  181,  195,  315,  438,
        148,  162,  300,  221,  267,  100,  210,  175,  149,  251,  168,
        360,  387,  172,  212,  185,  179,  385,  234,  163,  197,  180,
        182,  377,  337,  277,  213,  211,  375,  183,  279,  311,  243,
        286,  193,  247,  275,  229,  150,  302,  151,  230,  255,  141,
        389,  304,  184,  187,  238,  312,  328,  161,  233,  363,  278,
        169,  395,  256,  167,  269,  246,  635,  245,  388,  218,  225,
        178,  283,  352,  228,  273,  288,  186,  216,  371,  332,  319,
        174,  294,  333,  562,  153,  285,  231,  260,  220,  196,  203,
        171,  264,  202,  307,  281,  330,  335,  314,  290,  258,  317,
        398,  204,  399,  457,  205,  634,  226,  227,  430,  240,  208,
        384,  266,  342,  358,  381,  253,  262,  272,  309,  346,  270,
        242,  249,  544,  239,  271,  215,  376,  402,  336,  490,  496,
        408,  338,  364,  357,  339,  201,  359,  291,  368,  236,  637,
        419,  416,  348,  250,  577,  407,  414,  282,  576,  296,  350,
        252,  268,  410,  361,  382,  325,  320,  344,  217,  421,  548,
        351,  280,  356,  299,  235,  347,  297,  606,  498,  469,  327,
        412,  372,  261,  254,  265,  321,  393,  405,  370,  313,  331,
        303,  531,  362,  413,  293,  373,  276,  383,  353,  324,  322,
        379,  521,  316,  323,  354,  334,  369,  244,  367,  349,  625,
        477,  308,  443,  263,  582,  763,  386,  425,  248,  440,  783,
        609,  435,  456,  602,  621,  437,  810,  661,  514,  694,  782,
        444,  579,  507,  516,  543,  423,  404,  714,  532,  596,  988,
        329,  777,  523,  654,  630,  778,  742,  527,  500,  587,  417,
        613,  487,  595,  685,  710,  520,  530,  628,  572,  713,  598,
        568,  558,  776,  633,  479,  380,  540,  495,  667,  601,  551,
        627,  586,  420,  549,  432,  494,  552, 1175,  400,  301,  673,
        515,  326,  394,  668,  486,  581,  341,  453,  422,  452,  355,
        510,  426,  343,  564,  526,  474,  463,  503,  390,  458,  684,
       1140,  518,  445, 1195,  466,  528,  766,  589,  600,  424,  478,
        392,  459,  442,  573,  640,  345,  509,  467,  485,  608,  483,
        406,  449,  669,  378,  427,  434,  415, 1318,  517,  563,  508,
        448,  533,  605,  559,  522,  441,  489,  411,  429,  593,  481,
        535, 1681,  455,  491,  671,  493,  451,  454,  519,  446,  536,
        670,  295,  476,  505,  465, 1555,  599,  374,  305,  524,  539,
        546,  501,  365,  747,  492,  396,  468, 1439,  397,  499,  542,
        403,  567,  525,  471, 1830,  636,  450,  813,  318,  541,  506,
        580,  475,  511,  436,  433,  460,  472, 1699,  728,  306,  484,
        462, 2073,  566,  578,  569,  470,  698,  658,  847,  557,  561,
       1683,  691,  439,  660,  687,  716, 1148,  473,  488,  735,  583,
        366,  585,  502,  848,  683,  617,  869,  708,  504, 1347,  555,
       1044,  409,  534,  801,  594,  996,  428,  657,  645,  648,  418,
        537,  497,  538,  592,  570,  431,  480,  529,  512,  588,  574,
        461,  591,  554,  622,  553,  547,  447,  482,  513,  656,  620])

##### PublicationYear

In [14]:
# PublicationYear	The year from the catalog record in which the item was published, printed, or copyrighted. 

spl['PublicationYear'].unique()

array(['c2010.', '2013', 'p2008.', ..., '©1943.', '1969 [c1965]',
       'Spencer-Walker Press, 1988.'], dtype=object)

In [15]:
#Remove the extra dates in square brackets, wherever present: 1879 [1878]
#Convert date ranges to their “start date”, wherever present: 1860-63; 1839, 38-54
#Completely remove the dates we are not certain about and replace them with NumPy’s NaN: [1897?]

spl.PublicationYear = spl['PublicationYear'].str.extract(r'^(\d{4})', expand=False)

In [16]:
spl['PublicationYear'].unique()

array([nan, '2013', '2010', '2015', '2008', '2011', '2014', '2006',
       '2012', '2003', '1977', '2016', '2009', '1968', '2000', '1994',
       '1997', '2007', '1995', '1970', '1988', '1998', '2002', '1996',
       '1953', '1992', '2004', '1999', '2001', '1987', '1981', '2005',
       '1990', '1976', '1989', '1979', '1965', '1951', '1950', '1991',
       '1984', '1973', '1914', '1993', '1978', '1974', '1983', '1985',
       '1939', '1972', '1897', '1957', '1966', '1955', '1922', '1924',
       '1954', '1901', '1964', '1942', '1912', '1971', '1967', '1975',
       '1961', '1982', '1980', '1947', '1937', '1969', '1986', '1938',
       '1935', '1940', '1930', '1927', '1963', '1908', '1960', '1952',
       '1925', '1915', '1936', '1962', '1943', '1958', '1944', '1946',
       '1959', '1905', '1926', '1948', '1896', '1945', '1899', '1932',
       '1902', '1929', '1903', '1857', '1941', '1918', '1933', '1920',
       '1923', '1934', '1928', '1898', '1949', '1916', '1854', '1873',
       '1894', '1956', '1887', '1882', '1931', '1911', '1909', '1869',
       '1885', '1917', '1907', '1893', '1910', '1895', '1900', '1921',
       '1865', '1850', '1891', '1919', '1906', '1904', '1884', '1879',
       '1886', '1913', '1871', '1889', '1890', '1888', '1831', '9200',
       '2017', '1870', '1875', '1880', '1864', '1859', '1877', '1855',
       '1892', '1827', '1876', '1861', '1849', '1878', '1867', '1874',
       '1863', '1829', '1881', '1883', '1839', '1824', '1862', '2018',
       '1860', '1840', '1837', '1431', '1174', '1872', '1866', '1856',
       '1848', '1818', '1842', '1845', '2019', '1406', '1868', '1846',
       '1844', '1847', '1416', '1843', '5761', '1851', '2022', '1810',
       '1858', '1801', '1833', '1752', '1835', '1853', '5706', '1838',
       '1852', '1730', '1811', '1825', '1834'], dtype=object)

In [17]:
spl['PublicationYear'].fillna('9999', inplace=True);
spl['PublicationYear'].unique()

array(['9999', '2013', '2010', '2015', '2008', '2011', '2014', '2006',
       '2012', '2003', '1977', '2016', '2009', '1968', '2000', '1994',
       '1997', '2007', '1995', '1970', '1988', '1998', '2002', '1996',
       '1953', '1992', '2004', '1999', '2001', '1987', '1981', '2005',
       '1990', '1976', '1989', '1979', '1965', '1951', '1950', '1991',
       '1984', '1973', '1914', '1993', '1978', '1974', '1983', '1985',
       '1939', '1972', '1897', '1957', '1966', '1955', '1922', '1924',
       '1954', '1901', '1964', '1942', '1912', '1971', '1967', '1975',
       '1961', '1982', '1980', '1947', '1937', '1969', '1986', '1938',
       '1935', '1940', '1930', '1927', '1963', '1908', '1960', '1952',
       '1925', '1915', '1936', '1962', '1943', '1958', '1944', '1946',
       '1959', '1905', '1926', '1948', '1896', '1945', '1899', '1932',
       '1902', '1929', '1903', '1857', '1941', '1918', '1933', '1920',
       '1923', '1934', '1928', '1898', '1949', '1916', '1854', '1873',
       '1894', '1956', '1887', '1882', '1931', '1911', '1909', '1869',
       '1885', '1917', '1907', '1893', '1910', '1895', '1900', '1921',
       '1865', '1850', '1891', '1919', '1906', '1904', '1884', '1879',
       '1886', '1913', '1871', '1889', '1890', '1888', '1831', '9200',
       '2017', '1870', '1875', '1880', '1864', '1859', '1877', '1855',
       '1892', '1827', '1876', '1861', '1849', '1878', '1867', '1874',
       '1863', '1829', '1881', '1883', '1839', '1824', '1862', '2018',
       '1860', '1840', '1837', '1431', '1174', '1872', '1866', '1856',
       '1848', '1818', '1842', '1845', '2019', '1406', '1868', '1846',
       '1844', '1847', '1416', '1843', '5761', '1851', '2022', '1810',
       '1858', '1801', '1833', '1752', '1835', '1853', '5706', '1838',
       '1852', '1730', '1811', '1825', '1834'], dtype=object)

In [18]:
# change to type int

spl.PublicationYear = spl['PublicationYear'].astype(str).astype(int);

#### At this point I believe I have a clean version (mostly) of the data and save it for future use.

In [19]:
# Confirm all data types

spl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33156891 entries, 0 to 33156890
Data columns (total 11 columns):
UsageClass         object
CheckoutType       object
MaterialType       object
CheckoutYear       int64
CheckoutMonth      int64
Checkouts          int64
Title              object
Creator            object
Subjects           object
Publisher          object
PublicationYear    int64
dtypes: int64(4), object(7)
memory usage: 2.7+ GB

### Creator

In [11]:
import nltk

from nltk.collocations import *
from nltk import FreqDist, word_tokenize

from nltk.corpus import stopwords

In [2]:
#spl = pd.read_csv('Data/spl_clean.csv')

In [3]:
spl.head(2)

,UsageClass,CheckoutType,MaterialType,CheckoutYear,CheckoutMonth,Checkouts,Title,Creator,Subjects,Publisher,PublicationYear
0,Physical,Horizon,BOOK,2016,6,1,Capitalism unbound : the incontestable moral c...,Bernstein Andrew,Capitalism,"University Press of America,",9999
1,Digital,OverDrive,EBOOK,2016,6,2,A Fountain Filled With Blood: Clare Fergusson ...,Julia Spencer Fleming,"Fiction, Mystery",Macmillan Publishers,2013

In [8]:
spl['Creator'].value_counts()  
# length: 346,064

In [12]:
# remove punctuation
spl['Creator'] = spl['Creator'].str.replace("[^a-zA-Z#]", " ")

In [22]:
spl['Creator'].value_counts()

### Subjects

In [18]:
spl['Subjects'].value_counts()   #length: 788,067

In [19]:
# remove punctuation
spl['Subjects'] = spl['Subjects'].str.replace("[^a-zA-Z#]", " ")

In [21]:
spl['Subjects'].value_counts()

### Publisher

In [23]:
spl['Publisher'].value_counts()

Unknown                                                                                  9495830
Random House, Inc.                                                                        828044
Penguin Group (USA), Inc.                                                                 625739
HarperCollins Publishers Inc.                                                             591399
Books on Tape                                                                             357846
Blackstone Audio, Inc.                                                                    353808
Macmillan Publishers                                                                      228799
Hachette Digital, Inc.                                                                    221434
Thorndike Press,                                                                          198220
Random House,                                                                             190678
Simon & Schuster, Inc.                                                                    168774
Viking,                                                                                   126096
Candlewick Press,                                                                         120828
HarperCollins,                                                                            120149
Harlequin Enterprises, Ltd.                                                               116596
Warner Home Video,                                                                        114695
Simon & Schuster,                                                                         109269
Tantor Media, Inc                                                                         107553
Alfred A. Knopf,                                                                          104852
Scholastic,                                                                                98347
St. Martin's Press,                                                                        94104
Oxford University Press,                                                                   91803
Houghton Mifflin,                                                                          91392
Viz Media,                                                                                 89977
Simon & Schuster Books for Young Readers,                                                  86669
Harper,                                                                                    84993
Recorded Books,                                                                            76209
Brilliance Audio, Inc.                                                                     73480
Little, Brown,                                                                             73266
DC Comics,                                                                                 73031
                                                                                          ...
WE, inc.,                                                                                      1
Republic / Universal                                                                           1
Whitney Publications [etc.]                                                                    1
N.D. Thompson,                                                                                 1
Star Co.,                                                                                      1
U.S. Dept. of Justice, Office Justice Programs, National Institute of Justice,                 1
[Senior Information and Assistance],                                                           1
Royal Artillery Institution,                                                                   1
Harvard University Press : W. Heinemann,                                                       1
Gingerbread Man Records/Elektra                                                                1
EchoPark ARTS Entertainment LLC                                                                1
Saturday Sunset Presses,                                                                       1
Printed from the original wood engraving blocks by F. McCaffrey at his Dogwood Press,          1
Polska Oficyna Wydawnicza "BGW",                                                               1
Editions Berlitz,                                                                              1
© Electro Sensual                                                                              1
[L.R. Poppleton?,],                                                                            1
[Fund for Alexandria],                                                                         1
P.M.S.F. Daniels,                                                                              1
Samurai Horo                                                                                   1
Brant and Fuller,                                                                              1
Music World Productions                                                                        1
[ARC Architects?],                                                                             1
Press of T.A. Wright,                                                                          1
T.B. Peterson,                                                                                 1
TB Media                                                                                       1
Trinity University Press ,                                                                     1
Hartwells of America,                                                                          1
Washington State Department of Transportation,                                                 1
Oberon Press,                                                                                  1
Name: Publisher, Length: 83227, dtype: int64

In [24]:
# save to Data directory

spl.to_csv('Data/spl_clean.csv', index=False)